@charset "UTF-8";

body{
    font:20px Arial, sans-serif ;
}

.navbar{
    background-color: rgb(65, 126, 101);

}

.quemsomos{
    background-color: rgb(49, 119, 123);
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: bisque;
}

.bg-footer{
    background-color: brown;
    color: white;
}

