@charset "UTF-8";

body{
    font-style: italic ;
}

.navbar{
    background-color: rgb(181, 206, 218);
    color: rgb(0, 0, 0);

}

.quemsomos{
    background-color: rgb(179, 220, 241);
    color: rgb(10, 10, 10);
    
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: bisque;
}

.bg-footer{
    background-color: brown;
    color: white;
}

.nav-link{
    color: black;
}

